[submodule "__learn/cppcon2016"]
	path = __learn/cppcon2016
	url = https://github.com/CppCon/CppCon2016.git
[submodule "__learn/cppcon2017"]
	path = __learn/cppcon2017
	url = https://github.com/CppCon/CppCon2017.git
[submodule "__learn/cppcon2018"]
	path = __learn/cppcon2018
	url = https://github.com/CppCon/CppCon2018.git
[submodule "__learn/cppcon2019"]
	path = __learn/cppcon2019
	url = https://github.com/CppCon/CppCon2019.git
[submodule "__learn/lift"]
	path = __learn/lift
	url = https://github.com/rollbear/lift.git
