[submodule "__learn/cppcon2016"]
	path = __learn/cppcon2016
	url = https://github.com/CppCon/CppCon2016.git
[submodule "__learn/cppcon2018"]
	path = __learn/cppcon2018
	url = https://github.com/CppCon/CppCon2018.git
[submodule "__learn/cppcon2019"]
	path = __learn/cppcon2019
	url = https://github.com/CppCon/CppCon2019.git
[submodule "__learn/lift"]
	path = __learn/lift
	url = https://github.com/rollbear/lift.git
[submodule "__learn/cppcon2020"]
	path = __learn/cppcon2020
	url = https://github.com/CppCon/CppCon2020.git
[submodule "__learn/imgui"]
	path = __learn/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "__learn/reliable_multicast"]
	path = __learn/reliable_multicast
	url = https://github.com/PDXostc/reliable_multicast.git
[submodule "__learn/spdlog"]
	path = __learn/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "__learn/hffix"]
	path = __learn/hffix
	url = https://github.com/jamesdbrock/hffix.git
[submodule "__learn/allocator"]
	path = __learn/allocator
	url = https://github.com/moya-lang/Allocator.git
[submodule "__learn/cppcon2017"]
	path = __learn/cppcon2017
	url = https://github.com/CppCon/CppCon2017.git
